@use 'base/mixins' as m;
@use 'base/variables' as v;

.bienvenida{
    text-align: center;

    &__heading{
        @include m.headingCursiva;
    }

    &__texto{
        font-size: 2.6rem;
        color: v.$gris;
        max-width: 50rem;
        margin: 0 auto 0 auto;
        line-height: 1.8;
    }
}